body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 50px;

}

.child {
    color: red;
    border: black solid 3px;
    box-sizing: border-box;
}

.container {
    display: flex;
    height:auto;
    flex-flow: row wrap;
    color: red;
    width: 600px;
    height: 600px;
    margin: auto;
}

.colorPixel {
    background-color:black;
}

.butt1 {
    background-color: white;
    font-size: xx-large;
}