body {
    display: flex;
}

.child {
    color: red;
    border: black solid 3px;
    width: 6.25%;
    box-sizing: border-box;
}

.container {
    display: flex;
    height:auto;
    flex-flow: row wrap;
    color: red;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 200px;
}

.colorPixel {
    background-color:black;
}